{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime"
        ],
        [
            "module-resolver",
            {
                "alias": {
                    "@utils": "./src/utils",
                    "@src": "./src",
                    "@middlewares": "./src/middlewares"
                }
            }
        ]
    ]
}